.single-product-container {
  box-shadow: 2px 2px 7px 2px var(--text-color);
  width: fit-content;
  border-radius: 1rem;
  margin: 1rem auto;
}

.single-product-img {
  margin: auto;
  width: 25rem;
  height: 25rem;
  border-radius: 1rem;
  aspect-ratio: 3/2;
}

.single-cart-img {
  margin: auto;
  width: 17rem;
  height: 17rem;
  border-radius: 1rem;
}

@media only screen and (max-width: 760px) {
  .single-product-img {
    width: 20rem;
    height: 20rem;
  }
}

@media only screen and (max-width: 690px) {
  .single-product-img {
    height: 17rem;
  }

  .single-cart-img {
    width: 100%;
    height: 22rem;
  }

  .single-product-container {
    display: flex;
    flex-direction: column;
  }
}
